// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Colors
$primary_background: #242038;
$primary_dark: #725ac1;
$primary_regular: #8d86c9;
$primary_light: #cbc3e2;

$mute_highlight: #f7ece1;

$gray: #656565;
$gray_middle: #707070;
$gray_light: #8b8b8b;
$off_white: #f0f0f0;

$green: rgb(33, 228, 33);
$red: rgb(228, 40, 33);
